<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="QuickRoute.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <applicationSettings>
    <QuickRoute.UI.Properties.Settings>
      <setting name="QuickRoute_WinSplitsWebServices_WebServices" serializeAs="String">
        <value>http://www.obasen.nu/winsplits/webservices/WebServices.asmx</value>
      </setting>
    </QuickRoute.UI.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <add key="cultures" value="en;de;fi;fr;lt;no;ru;sv" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <appendToFile value="true" />
      <file value="" />
      <!-- just a dummy value, uses appSettings.log4netLogFileName or default in app dataq directory -->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <!-- Setup the root category, add the appenders and set the default level -->
    <root>
      <level value="ERROR" />
    </root>
  </log4net>
</configuration>