<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QuickRoute.Publishers.DOMAPublisher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="QuickRoute.Publishers.DigitalMapArchivePublisher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="DigitalMapArchivePublisher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <QuickRoute.Publishers.DOMAPublisher.Properties.Settings>
            <setting name="QuickRoute_Publishers_DOMAPublisher_DOMA_DOMAService"
                serializeAs="String">
                <value>http://localhost/domadev/webservice.php</value>
            </setting>
        </QuickRoute.Publishers.DOMAPublisher.Properties.Settings>
        <QuickRoute.Publishers.DigitalMapArchivePublisher.Properties.Settings>
            <setting name="DigitalMapArchivePublisher_DigitalMapArchive_DigitalMapArchiveService"
                serializeAs="String">
                <value>http://localhost/domadev/webservice.php</value>
            </setting>
        </QuickRoute.Publishers.DigitalMapArchivePublisher.Properties.Settings>
        <DigitalMapArchivePublisher.Properties.Settings>
            <setting name="DigitalMapArchivePublisher_DigitalMapArchive_DigitalMapArchiveService"
                serializeAs="String">
                <value>http://www.matstroeng.se/domaDev/webservice.php</value>
            </setting>
        </DigitalMapArchivePublisher.Properties.Settings>
    </applicationSettings>
</configuration>