<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QuickRoute.BusinessEntities.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <QuickRoute.BusinessEntities.Properties.Settings>
            <setting name="QuickRoute_BusinessEntities_WinSplitsWebService_WebServices"
                serializeAs="String">
                <value>http://www.obasen.nu/winsplits/webservices/WebServices.asmx</value>
            </setting>
            <setting name="QuickRoute_BusinessEntities_CzechSplitsWebService_ResultsDBService"
                serializeAs="String">
                <value>http://bestik.cz/vysledky/webservice.php</value>
            </setting>
        </QuickRoute.BusinessEntities.Properties.Settings>
    </applicationSettings>
</configuration>